/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#database-quiz,
#oop-quiz,
#webdev-quiz {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

#database-questions,
#oop-questions,
#webdev-questions {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
